.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/banner.jpg') no-repeat center center; /* Center the background */
    background-size: cover; /* Ensure the banner covers the entire area */
    position: relative;
    animation: fadeIn 0.7s ease-in-out; /* Fade in animation */

}

.header-content {
    position: absolute;
    bottom: 15px; /* Position the content 20px from the bottom */
    left: 50%; /* Position the content 20px from the left */
    transform: translateX(-50%); /* Remove the centering transform */
    text-align: center; /* Align text to the left */
}

.header-content button {
    border: none;
    color: white;
    font-weight: 500;
    padding: 0.7vw 2vw;
    background-color: #474747;
    font-size: max(1vw,12px);
    border-radius: 50px;
}


@media (max-width:1050px) {
    .header{
        height: 50vw; /* Adjust height for smaller screens */
    }
}